

body {
    background-color: black;
}

.box {
position: relative;
margin-inline: auto;
width: 150px;
height: 150px;
background-color: yellow;
box-shadow: 250px 250px purple, 0px 250px burlywood, -250px 250px red, 500px 250px pink
}

.box::after {
    content:"";
    position:absolute;
    top: 0;
    left: 250px;
    width: 150px;
    height: 150px;
    border-radius: 25%;
    background-color: blue;
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 250px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: bisque;

}